:root {
    --primary-color: #5a6e76;
    --secondary-color: #393941;
    --highlight-color: #3da1c2;
    --background-color: #373737;
    --foreground-color: #dbeaf3;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    --nav-width:200px;
    margin: 0 0 0 var(--nav-width);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--foreground-color);
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: var(--foreground-color);
    font-weight: 500;
}

.nav__link:hover {
    background-color: var(--highlight-color);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: var(--highlight-color);
}